body {

    margin: 0;
    padding: 0;
    min-width: 1120px;
    background: #f5f5f5;
    font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
}

article .inner {
    /*background: pink;*/
    width: 1120px;
}

article {
    margin-top: 50px;
}

.banner {
    position: relative;
}

.banner .b_img li {
    float: left;
}

.banner .b_img li img {
    width: 100%;
    border-radius: 8px;
    display: block;
}

.banner .b_index {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.banner .b_index li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    background: #ffffff;
}

article .content {
    width: 100%;
    margin-top: 50px;
    min-height: 1000px;
}

.content .con_left {
    height: 100%;
    width: 788px;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    margin-bottom: 25px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, .07) 0 1px 3px;
}

.content .con_right {
    width: 322px;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, .07) 0 1px 3px;
    height: 100%;
}
.content  .plate{
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid #d9d9d9;
    background: #fff;
    overflow: hidden;
    padding-bottom: 0;
}
h4.title {
    position: relative;
    font-weight: 400;
    margin: 0;
    height: 57px;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
    background: #f5f5f5;
    font-size: 16px;
    color: #757575;
    line-height: 60px;
    text-indent: 31px;
    -webkit-box-shadow: 0 1px 1px 1px #F6F6F6;
    -moz-box-shadow: 0 1px 1px 1px #F6F6F6;
    box-shadow: 0 1px 1px 1px #F6F6F6;
    background-image: -moz-linear-gradient(top, #fafafa, #f4f4f4);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f4f4f4));
}

h4 .btn- {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/line.png) no-repeat;
    position: absolute;
    top: 18px;
    right: 30px;
    cursor: pointer;
}

.more_jp {
    height: 58px;
    background: #f8f8f8;
    border-top: 1px solid #EEE;
    text-align: center;
    line-height: 58px;
    background-image: -moz-linear-gradient(top, #fafafa, #f4f4f4);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f4f4f4));
}

.more_jp a {
    text-decoration: none;
    font-size: 16px;
    color: #bdbdbd;
    padding-right: 18px;
    background: url(../images/more-arrow.png) right 1px no-repeat;
}

.model_jingpin {
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    margin-bottom: 25px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, .07) 0 1px 3px;
}

.model_qd .qd_box{
    position: relative;
    margin: 0;
    height: 57px;
    overflow: hidden;
    background: #f5f5f5;
    font-size: 16px;
    color: #757575;
    line-height: 65px;
    text-indent: 31px;
    font-weight: 400;
}
.model_qd .qd_box a .rules{
    background: url(../images/about.png) no-repeat bottom center;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 200;
    top: 39%;
    left: 32%;
    cursor: pointer;
}
.model_qd .qd_box .qd_button{
    display: inline-block;
    width: 102px;
    height: 42px;
    position: absolute;
    z-index: 200;
    top: 8.38px;
    right: 3%;
    text-align: center;
    text-indent: 0;
    background: url(../images/sign.png) no-repeat;
    color: #a16a32;
    line-height: 44px;
    cursor: pointer;
}
.model_qd .qd_box .qd_button:hover{
    opacity: .8;
}


/*精品资讯*/
.mo_con .jp li{
    padding-top: 28px;
    border-top: 1px solid #CCC;
    margin: 0 30px 30px;
}
.mo_con .jp li .tit{
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
.mo_con  .txt{
    height: 15px;
    font-size: 12px;
    color: #8c8c8c;
    padding: 17px 0;
    margin: 0;
    line-height: 16px;
}
.mo_con  .txt .name{
    padding-right: 10px;
    background: url(../images/split.png) right -25px no-repeat;
    float: left;
}
.mo_con  .txt .name{
    color: #B2B2B2;
    padding-left: 10px;
    float: left;
}
.mo_con  .txt .browse{
    text-align: right;
    background: url(../images/browse.png) left center no-repeat;
    padding-left: 33px;
    margin-right: 20px;
    float: right;
}
.mo_con  .txt .review{
    text-align: right;
    background: url(http://bbs-static.smartisan.cn/template/smartisan/src/img/review.png) left center no-repeat;
    padding-left: 30px;
    float: right;
}
.mo_con .jp li .li_img img{
    width: 724px;
    height: 300px;
    border-radius: 5px;
}
.mo_con .jp li .describe{
    margin: 16px 0 0;
    font-size: 14px;
    color: #737373;
    line-height: 200%;
}
.mo_con .jp li .describe a{
    background: url(http://bbs-static.smartisan.cn/template/smartisan/src/img/full-text.png) right -2px no-repeat;
    padding-right: 16px;
    margin-left: 16px;
    color: #cc3e39;
}
/*================================热门推荐*/
.hottj li:first-of-type{
    padding-top: 28px;
    border: none;
}
.hottj li{
    height: 50px;
    padding-top: 20px;
    border-top: 1px solid #EEE;
    margin: 0 30px 20px
}
.hottj li .li_logo{
    width: 50px;
    height: 50px;
    position: relative;
}
.hottj li.li_logo_logo{

}
.hottj li .li_logo>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.hottj li .li_logo_logo{
    position: absolute;
    right: -3px;
    bottom: -5px;
}
.hottj li .li_logo_logo img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
}

.hottj li .li_right{
    height: 47px;
    width: 656px;
    margin-left: 19px;
}
.hottj li .li_right h5{
    color: #737373;
    font-size: 16px;
    font-weight: 400;

}
